.videoCard{
    color: white;
    width: 30%;
    padding: 10px;
    transition: transform ease 500ms;
    margin: 15px 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 0px #333332;
}

.videoCard:hover{
    transform: scale(1.09);
}

.videoCard > img{
    object-fit: contain;
    width: 100%;
    margin-bottom: 10px;
}

.videoCard >h2{
    padding-top:10px ;
}

.videoCard >p {
    display: none;
    align-items: center;
    padding-top:10px;
    
}

.videoCard:hover >p {
    display: inline-flex;
    
}